@import "tailwindcss";
@plugin "daisyui";
@import "tailwindcss";
@plugin "daisyui";

/* Theme customization */
@plugin "daisyui/theme" {
  name: "light"; /* Built-in theme you want to customize */
  default: true; /* Sets this theme as the default */
  --color-primary: rgb(29, 155, 240); /* Custom primary color */
  --color-secondary: rgb(24, 24, 24); /* Custom secondary color */
}

@plugin "daisyui/theme" {
  name: "black"; /* Custom black theme */
  --color-primary: rgb(29, 155, 240); /* Custom primary color */
  --color-secondary: rgb(24, 24, 24); /* Custom secondary color */
}
